<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <div class="container">
        <h1>Welcome to the Library!!!!</h1>
        <ul>
          <li><a href="/librarian">Librarian Entrance</a></li>
          <li><a href="/patron">Patron Entrance</a></li>
        </ul>
      </div>
    </body>
</html>
