<!-- all_authors all_books-->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
      <h2>Total Books:</h2>
      <h2>Add A Book:</h2>
      <form action="/add_book" method="post">
        <label for="title">Enter Book Title</label>
          <input type="text" name="title" value="">
        <label for="author">Enter Author Name:</label>
          <input type="text" name="author" value="">
        <button type="submit" name="button" class="btn btn-warning">Add Book</button>
      </form>

      {% if all_authors is not empty %}
      <ul>
        {% for author in all_authors %}
        <li>{{ author.getName }}</li>
          {% set author_books = author.getBooks %}
          <ul>
            {% for book in author_books %}
            <li>{{ book.getTitle }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </ul>
      {% endif %}
    </body>
</html>
